.services
    padding: 100px

    ul
        display: grid
        grid-template-columns: repeat(4, 1fr)
        align-items: center
        grid-gap: 50px
    
.consultation
    +flex($jc: space-around)
    padding: 100px

    form
        +flex($dir: column, $ai: flex-start)

        input
            margin: 10px

        button
            margin: 20px 10px
