-
    const pricelist = [
        {
            title: 'Замена жидкостей и фильтров',
            list: [
                { title: 'Замена масла ДВС', price: 'от 200' },
                { title: 'Замена масла МКПП', price: '150' },
                { title: 'Замена масла АКПП', price: 'от 300' },
                { title: 'Замена воздушного фильтра', price: 'от 100' },
                { title: 'Замена фильтра салона', price: 'от 100' },
                { title: 'Замена бензинового топливного фильтра', price: 'от 150' },
                { title: 'Замена топливного фильтра дизель', price: 'от 250' },
                { title: 'Замена масла в роздаточной коробке', price: '150' },
                { title: 'Замена масла в мостах', price: '150' },
                { title: 'Замена жидкости системы охлаждения', price: 'от 250' },
                { title: 'Смазка 1 крестовины кардана', price: '100' }
            ]
        }
    ]
