include ../layouts/header
main
    section.services
        h2 Услуги
        ul
            li Комплексная диагностика автомобилей
            li Замена технических жидкостей и фильтров
            li Ремонт и обслуживание тормозных систем
            li Ремонт и бслуживание рулевого управления
            li Ремонт и обслуживание ходовой части
            li Система сцепления
            li ГРМ двигатель
            li Ремонт и обслуживание системы охлаждения
            li Другие виды работ
    section.consultation
        h2 Запросить консультацию
        form#consultation
            input#consultation-tel(placeholder="телефон *" type="tel" required)
            input#consultation-name(placeholder="имя" type="text")
            button.button-simple запросить
include ../layouts/footer
