section.consultation
    a(name="consultation")
    h2 Запросить консультацию
    form#consultation
        input#consultation-tel(placeholder="телефон *" type="tel" required)
        input#consultation-name(placeholder="имя" type="text")
        button запросить
