footer
    .info
        address Дарницкий район, ул. Полеская 7, ГБК Захисник
        .tel +380636027513
        button Запросить звонок
    .floor
        div Киев • Украина
        div Garage
        div since 2021
