footer
    .info
        address Дарницкий район, ул. Полеская 7, ГБК Захисник
        a.tel(href="tel:+380636027513") +380636027513
        button.button-circle Запросить звонок
    .floor
        div Киев • Украина
        div Garage
        div since 2021
