header
    .header-wrap
        span.logo Garage
        noindex#b-logo Garage
        nav
            ul
                li
                    a(href="#services") услуги
                li
                    a(href="#pricelist") цены
                li
                    a(href="#contacts") контакты
                //- li
                //-     a(href="#reviews") отзывы
        #burger-menu
            .line
            .line
            span меню
    noindex#mobile-curtain
