footer
    padding: 50px 100px
    color: $white-color
    background-color: $black-color

    .info
        margin: 100px
        text-align: center

        .tel
            display: block

        address
            margin: 50px 0
            font-style: initial

        button
            margin: 20px

    .floor
        display: flex
        font-size: .9rem

        div:first-of-type,
        div:last-of-type
            flex: 1

        div:last-of-type
            text-align: right
