- var trans = htmlWebpackPlugin.options.content.header

header
    .header-wrap
        span.logo Garage
        noindex#b-logo Garage
        nav
            ul
                li: a(href="#services") #{trans.nav.services}
                li: a(href="#pricelist") #{trans.nav.pricelist}
                li: a(href="#contacts") #{trans.nav.contacts}
                //- li: a(href="#reviews") отзывы
        #burger-menu
            .line
            .line
            span меню
