- var trans = htmlWebpackPlugin.options.content.header
- var lang = htmlWebpackPlugin.options.lang

header
    .header-wrap
        span.logo Garage
        noindex#b-logo Garage
        nav
            ul
                li: a(href="#services") #{trans.nav.services}
                li: a(href="#pricelist") #{trans.nav.pricelist}
                li: a(href="#contacts") #{trans.nav.contacts}
                //- li: a(href="#reviews") отзывы
                li
                    if lang == 'ru'
                        a(href="/ua") ua
                    if lang == 'ua'
                        a(href="/ru") ru
        #burger-menu
            .line
            .line
            span меню
