button
    padding: 20px
    border: 1px solid $gray-color
    border-radius: 50px
    background-color: initial
    color: $white-color
    font-family: inherit
    cursor: pointer
    transition: border-color 1.5s

    &:hover
        border-color: $white-color
