@import ./_reset
@import ./_mixin
@import ./_fonts
@import ./_variables
@import ./common/button
@import ./common/input

@import ./layouts/header
@import ./layouts/footer
@import ./layouts/notification

@import ./components/service

@import ./pages/main

body
    font-family: Vu

    scroll-behavior: smooth

    h2
        font-size: 1.5rem

    img
        min-width: 100%
        min-height: 50px
        background-image: url('../media/preloader.gif')
        background-position: center
